:root {
    --cl1: #0167E3;
    /*primary*/
    --cl2: #8afb04;
    /*primary*/
    --cl3: #F6D6E3;
    /*candidate for fur*/
    --cl4: #F9EAEF;
    /*candidate for fur*/
    --cl5: #B50066;
    --cl6: #9E0059;
    --cl7: #E60067;

    --cchatgpt1: #0f172a;
    --cchatgpt2: #111827;
    --cchatgpt3: #1f2937;
    --cchatgpt4: #334155;
    --cchatgpt5: #e5e7eb;

    --cl8: #fa8005;
    --cl9: #ec4899;
    --cl10: #f472b6;
    --cl11: #fb923c;
    --cl12: #f9a8d4;
    --cl13: #db2777;

    --cl14: linear-gradient(90deg, #fa8005, #ec4899);
    --cl15: linear-gradient(90deg, #fb923c, #f472b6, #ec4899);

    --cl16: #f05da8;
    --cl17: #f268af;
    /*winner for body background*/

    --font1: "Cabal";
    --font2: "Shifting-Comfort";
    --font3: "Frozen-Sepulcher";
    --font4: "Brickscrawl";
    --font5: "Special-Holiday";
    --font6: "Vtks-Honsa";
    --font7: "Vtks-Sacoleta";
    --font8: "Vtks-Troath";
}


@font-face {
    font-family: "Cabal";
    src: url("/fonts/cabal/cabal.ttf");
}

@font-face {
    font-family: "Shifting-Comfort";
    src: url("/fonts/shifting-comfort-demo/shifting-comfort-demo.otf");
}

@font-face {
    font-family: "Frozen-Sepulcher";
    src: url("/fonts/frozen-sepulcher/frozen-sepulcher.ttf");
}

@font-face {
    font-family: "Brickscrawl";
    src: url("/fonts/brickscrawl/brickscrawl.ttf");
}

@font-face {
    font-family: "Special-Holiday";
    src: url("/fonts/special-holiday/special-holiday.ttf");
    src: url("/fonts/special-holiday/special-holiday.otf");
}

@font-face {
    font-family: "Vtks-Honsa";
    src: url("/fonts/vtks-honsa/vtks-honsa.ttf");
    color: #0167E3;
}

@font-face {
    font-family: "Vtks-Sacoleta";
    src: url("/fonts/vtks-sacoleta/vtks-sacoleta.ttf");
}

@font-face {
    font-family: "Vtks-Troath";
    src: url("/fonts/vtks-troath/vtks-troath.ttf");
}

* {
    font-family: var(--font7);
}



body {
    margin: 0;
    background: var(--cl17)
}

h1 {
    text-align: center;
    color: var(--cl1);
    font-weight: bold;
    font-size: 600%;
}

.finalClass {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: stretch;
    align-items: stretch;
    align-content: stretch;
    gap: 250px;
}

.mainClass {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
    gap: 20px;
}

.firstColumn,
.thirdColumn {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.firstColumn div,
.thirdColumn div {
    position: relative;
    display: inline-flex;

    justify-content: center;
    align-items: center;

    font-size: 150%;

    width: 220px;
    height: 100px;
    color: var(--cl1);
    background: var(--cl2);

    border: 22px solid var(--cl1);
    border-radius: 100px;
    cursor: pointer;
}

.secondColumn {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}


#logo {
    display: flex;
    justify-content: center;
    position: relative;
}

#logo #logo-img {
    width: 900px;
    max-width: 100%;
    height: auto;
}

#previewImg {
    position: absolute;
    bottom: 40px;
    right: 40px;
    width: 20%;
    height: 20%;
    pointer-events: none;
    opacity: 1;
    transition: opacity .2s ease;
}

#previewImg {
    width: 200px;
    height: 200px;
    opacity: .25;
}

/*
#logo {
    https://www.reddit.com/r/webdev/comments/1diix0e/centering_a_div_nowadays_what_are_the_best/
    position: absolute;
    text-align: center;
    left: 46%;
    top: 50%;
    transform: translate(-50%, -50%);
    this is if you want to make a circle instead of adding an img
    width: 800px;
    height: 800px;
    -webkit-border-radius: 400px;
    border-radius: 400px;
    background: red;
}


#project0 {
    position: absolute;
    text-align: center;
    background-color: #fa8005;
    width: 80px;
    height: 27px;
    -webkit-border-radius: 30px;
    left: 30%;
    top: 30%;
}

#project1 {
    position: absolute;
    text-align: center;

    background-color: #fa8005;
    width: 80px;
    height: 27px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    left: 30%;
    top: 35%;
}

#project2 {
    position: absolute;
    text-align: center;

    background-color: #fa8005;
    width: 80px;
    height: 27px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    left: 30%;
    top: 40%;
}

#project3 {
    position: absolute;
    text-align: center;

    background-color: #fa8005;
    width: 80px;
    height: 27px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    left: 30%;
    top: 45%;
}

#project4 {
    position: absolute;
    text-align: center;

    background-color: #fa8005;
    width: 80px;
    height: 27px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    left: 30%;
    top: 50%;
}

#project5 {
    position: absolute;
    text-align: center;

    background-color: #fa8005;
    width: 80px;
    height: 27px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    left: 30%;
    top: 55%;
}


#public0 {
    position: absolute;
    text-align: center;

    background-color: #fa8005;
    width: 80px;
    height: 27px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    left: 72%;
    top: 30%;
}

#public1 {
    position: absolute;
    text-align: center;

    background-color: #fa8005;
    width: 80px;
    height: 27px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    left: 72%;
    top: 35%;
}

#public2 {
    position: absolute;
    text-align: center;

    background-color: #fa8005;
    width: 80px;
    height: 27px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    left: 72%;
    top: 40%;
}

#public3 {
    position: absolute;
    text-align: center;

    background-color: #fa8005;
    width: 80px;
    height: 27px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    left: 72%;
    top: 45%;
}

#public4 {
    position: absolute;
    text-align: center;

    background-color: #fa8005;
    width: 80px;
    height: 27px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    left: 72%;
    top: 50%;
}

#public5 {
    position: absolute;
    text-align: center;

    background-color: #fa8005;
    width: 80px;
    height: 27px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    left: 72%;
    top: 55%;
}
*/